body {
  background-color: darkslategray;
}
.todo-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

/* Todo List */
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(24, 24, 24);
}
.sorting label {
  color: rgb(179, 179, 179);
  padding-right: 10px;
  font-size: 24px;
}
.lists li {
  color: #fff;
  margin: 10px 0;
}
.lists code {
  padding-left: 20px;
  color: coral;
}

/* Todo Form */
.todo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-form input{
  margin: 10px 0;
  width: 60%;
  border-radius: 10px;
  border: none;
}
.todo-form input:enabled{
  padding-left: 5px;
  outline: none;
}
.todo-form button{
  margin: 10px 0;
  width: 60%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: coral;
  font-weight: bold;
}